@{
    ViewBag.Title = "Details";
}

<br><br>

<div class="panel panel-primary">
    <div class="panel-heading"><h3 style="color:white">Vidly Description:</h3></div>
    <div class="panel-body">
        <p class="lead">Vidly is a Video Rental Application which allow its Members to record rentals for available movies its customers.</p>
        <p class="lead">It Allow User To:<p>
            <ul class="lead">
                <li>Add/Manage Customers</li>
                <li>Add/Manage Movies</li>
                <li>Select and Add the Customer who want to rent.</li>
                <li>Select and Add the list of Movies which the Customer want to rent</li>
            </ul>
        <p class="lead">Rental Record will be added successfully if the movie is available in stock</p>
    </div>
</div>

