@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly</h1>
    <p class="lead">Vidly is a Video Rental Application allow its Members to record rentals of available movies for customers.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

